body {

    background-color: rgba(128, 128, 128, 0.699);
    font-family: 'Raleway', sans-serif;
    margin: 0;

}   
.container {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

p {
    color: black;
    line-height: 25px;
}

h1 {
    color: black;
    margin-bottom: 0;
    font-size: 35px;
    margin-top: 10px;
}

h2 {
    color: rgba(43, 43, 49, 0.863);
    margin-top: 0;
    font-style: italic;
    font-weight: 100;
    letter-spacing: -1px;
}

.foto-principal {
    border: 5px solid black;
    border-radius: 20% 20% 20% 20%;
    margin: 30px 30px 0px 30px;
    padding: 10px;
    box-shadow: 10px 10px 10px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-links {
    text-decoration: none;
}

.social-icons {
    width: 20px;
}

.github {
    margin: 0 15px 0 15px;
}

.footer {
    background-color: black;
    margin-top: 40px;
    color: white;
    text-align: center;
    padding: 10px 0;
}